{
    "custom_tutcode_rule": {
        "w ": "〜",
        "s ": "―",
        "k ": "〈",
        "l ": "〉",
        "x ": "■",
        "v ": "●",
        "dlu": ["ヅ", "づ"],
        "dldu": ["ッ", "っ"],
        "ali": "捗",
        "alo": "繋"
    }
}
