{
    "conv_keys": ["ctrl+n"],
    "next_keys": ["ctrl+n"],
    "commit_keys": ["ctrl+j", "ctrl+m", "return"],
    "custom_tutcode_rule": {
        "w ": "〜",
        "s ": "―",
        "k ": "〈",
        "l ": "〉",
        "x ": "■",
        "v ": "●",
        "dlu": ["ヅ", "づ"],
        "dldu": ["ッ", "っ"],
        "ali": "捗",
        "alo": "繋"
    }
}
